<app-header titulo="Lista de Egresos"></app-header> 

<ion-content>
    <ion-card color="morado" mode= "ios" *ngFor= "let dato_obtenido of datos_obtenidos">
        <ion-card-header>
            <ion-card-title class="tamano">Usuario: {{dato_obtenido.id_usuario?.nombre}}</ion-card-title>
         </ion-card-header>
        <ion-item>
          Descripcion: {{dato_obtenido.descripcion}}
        </ion-item>

        <ion-item >
            Precio: {{dato_obtenido.precio}}
        </ion-item>
    </ion-card>

    <ion-fab vertical="bottom" slot="fixed" horizontal="end">
        <ion-fab-button routerLink="/inicio" color="morado">
          <ion-icon name="home"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>
