<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
    
      <button ion-item  routerLink="/listar-egresos">
        <ion-icon name="">Lista de Egresos</ion-icon>
      </button>
  
      <button ion-item routerLink="/listar-usuarios" >Lista de Usuarios</button>
  
   
      <button ion-item routerLink="/registro-de-egresos" >Registro de Egresos</button>
  
  
      <button ion-item routerLink="/registro-de-usuario" >Registo de Usuarios</button>
    
  </ion-list>

  </ion-card>

</ion-content>
